@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Montserrat&family=Open+Sans:ital,wght@1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: yellow;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
}

h4 {
    margin-top: 10px;
}

img {
    height: 100px;
    width: 100px;
}

ul {
    list-style-type: none;
}

.container-main {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
    
}

.container {
    border: 1px solid black;
    background-color: white;
    margin-bottom: 5px;
}

.header {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: white;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    place-items: center;
    height: 80%;
    
}

.menu, .noticias, .destaque {
    grid-row: 3/6;
}

.noticias {
    overflow: scroll;
}

.servicos, .resultados {
    margin-top: 10px;
    grid-row: 6/9;
}

.destaque {
    display: grid;
    place-items: center;
    grid-template-rows: min-content 1fr;
    text-align: center;
}

.destaque > .content {
    padding: 10px;
}

.destaque > div > img {
    margin-bottom: 10px;   
}

.resultados {
    grid-column: 2/5;
}

.content {
    padding: 10px;
}

.footer {
    position: fixed;
    background-color: rgb(23, 23, 106);
    color: #FFF;
    width: calc(99% - 15px);
    height: 50px;
    bottom: 0;
    text-align: center;
}

.carrossel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.carrossel > p {
    font-weight: bold;
}

#sub, #add {
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
}

@media (max-width: 500px)
{
    .container-main {
        display: inline-block;
    }

}